[submodule "ext/flamework"]
	path = ext/flamework
	url = git@github.com:Citytracking/flamework.git
[submodule "ext/php-lib-enplacify"]
	path = ext/php-lib-enplacify
	url = git@github.com:Citytracking/php-lib-enplacify.git
[submodule "modestmaps-php"]
	path = modestmaps-php
	url = git@github.com:Citytracking/modestmaps-php.git
[submodule "ext/modestmaps-php"]
	path = ext/modestmaps-php
	url = git@github.com:Citytracking/modestmaps-php.git
