html, body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, clean, sans-serif;
    font-size: 15px;
    line-height: 20px;

    background: #fff;
    color: #000;
}

a:link,
a:hover,
a:visited{
    color:inherit;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

#copyright {
    margin: 0;
    font-size: 10px;
    line-height: 14px;
    z-index: 2001;
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: #999;
}

#output {
    z-index: 2000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    color: #fff;
    background: #000;
}

#output p { padding: 5px; margin: 0; }
#output .error {
    color: #fff;
    background: #c33;
}

h1 {
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
    margin: 0;
    padding: 5px;
}

h1 a {
    text-decoration: none;
}

/*MAP CONTROLS*/
.controls {
	position: absolute;
	z-index: 1000;
	top: 10px;
	left: 10px;
}

	.controls a {
		display: block;
		text-decoration: none;
		font-weight: bold;
		background: transparent;
		color: #fff;
		padding: 2px;
		line-height: 0;
		cursor:pointer;
	}
	.controls a:hover{
		opacity:.7;
	}

	.controls a img {
		border: 0 !important;
		vertical-align: middle;
	}

	.controls label {
		color: #666;
		display: none;
	}
	
/* MARKER STYLES */
.dot{fill:rgb(11,189,255);fill-opacity:1;cursor:pointer;z-index:100;}
.under{fill:rgb(255,255,255);fill-opacity:.9;stroke:#ccc;stroke-opacity:1;cursor:pointer;z-index:200;}
/*.over_hover{fill-opacity:.7 !important;stroke:rgb(50,50,50) !important;stroke-width:4 !important;stroke-opacity:1 !important;cursor:pointer;}*/
.over_hover{fill-opacity:.8 !important;stroke:rgb(255,255,255) !important;stroke-width:2 !important;stroke-opacity:1 !important;cursor:pointer;}
.under_hover{}
.node_master{fill:rgb(255,255,0) !important;}

.dot .desc {
    display: none;
}

/* TOOL TIP */
#mm_tip{
    position: absolute;
    z-index: 2999;
    background: #000;
    color: #fff;
    width: 300px;
    display: none;
    text-align: center;
    margin-left: 0;
    padding:0;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 2px #333;
    -webkit-box-shadow: 0 0 2px #333;
    box-shadow: 0 0 2px #333;
    pointer-events:none;
}

#mm_tip #mm_tip_title{text-align: left;margin:0;font-weight:600;padding:10px;font-size:16px;}

#mm_tip #mm_tip_desc {
    margin: 0;
    padding: 0 10px 10px;
    text-align: left;
    font-size:12px;
    font-weight:200;
    line-height:16px;
}


#mm_tip #mm_tip_nub{
    border-bottom: 0;
    height: 0;
    width: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    left: 30%;
    bottom: -10px;
}

/**/
#info_panel{
    position:absolute;
    top: 0;
    right: 0;
    background: transparent;
    width: 100%;
    height: auto;
    z-index: 2001;
    padding:0 5px 5px;
	display:none;
}
#info_panel a{
	display: block;
	background: #333;
	background: rgba(33,33,33,.9);
	text-decoration: none;
	font-weight: 500;
	color: #0BBDFF;
	padding: 3px 5px 4px;
	width: auto;
	position: absolute;
	right: 0;
	z-index: 1000;
	line-height: 20px;
	z-index: 9999;
}
    #info_panel p{
		display: none;
		margin: 0;
		padding: .5em;
		font-size: 1.15em;
		font-weight: bold;
		background: #333;
		background: rgba(33,33,33,.8);
		color: white;
		width: auto;
		position: absolute;
		right: 0;
		z-index: 9999;
		top: 0;
		margin-left: 80px;
		margin-right: 125px;
		
        /*text-align: justify;text-justify: newspaper;*/
    }