
html, body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, clean, sans-serif;
    font-size: 15px;
    line-height: 20px;

    background: #fff;
    color: #000;
}

a:link,
a:hover,
a:visited {
    color: inherit;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

/*MAP CONTROLS*/
.controls {
	position: absolute;
	z-index: 1000;
	top: 10px;
	left: 10px;
}

	.controls a {
		display: block;
		text-decoration: none;
		font-weight: bold;
		background: transparent !important;
		color: #fff;
		padding: 2px;
		line-height: 0;
		cursor:pointer;
	}
	.controls a:hover{
		opacity:.7;
	}

	.controls a img {
		border: 0 !important;
		vertical-align: middle;
	}

	.controls label {
		color: #666;
		display: none;
	}


#copyright {
    margin: 0;
    font-size: 10px;
    line-height: 14px;
    z-index: 2001;
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: #999;
}

#output {
    z-index: 2000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    color: #fff;
    background: #000;
}

#output p { padding: 5px; margin: 0; }
#output .error {
    color: #fff;
    background: #c33;
}

h1 {
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
    margin: 0;
    padding: 5px;
}

h1 a {
    text-decoration: none;
}

.report {
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}

.group,
.report img {
    color: #fff;
    position: absolute;
    left: -13px;
    top: -13px;
    width: 26px;
    height: 26px;
}

.group {
    display: block;
    text-align: center;
    font-size: 10px;
    line-height: 26px;
    background-repeat: none;
    background-position: center center;
}

.violent .group { background-image: url(../images/icons/violent.png); }
.property .group { background-image: url(../images/icons/property.png); }
.qol .group { background-image: url(../images/icons/qol.png); }
.unknown .group { background-image: url(../images/icons/other.png); }
.faded .group {
    /* background-image: url(icons/faded.png) !important; */
    opacity: .8;
    -moz-opacity: .8;
    -khtml-opacity: .8; 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";  
    filter: alpha(opacity=80);
}

.report .desc {
    display: none;
    overflow: hidden;

    position: absolute;
    left: -7em;
    top: 9px;
    padding: 5px 6px 3px;

    width: 14em;
    min-height: 34px;

    font-size: 12px;
    line-height: 16px;
    background: #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.report .date {
    display: block;
    color: #ccc;
}

/* marker above all others */
.report:hover {
    z-index: 1000;
}
/* description above all other markers */
.report:hover .desc {
    /* z-index: 1001;
   display: block;*/
}
/* icon above the description */
.report:hover .group {
    z-index: 1002;
}


#crime_types_wrapper{
    position:absolute;
    top: 30%;
    right: 0;
    background: #DCE8EF;
    background: rgba(220,232,239,.8);
    width: auto;
    height: auto;
    z-index: 2001;
    padding:0 5px 5px;
}
li.altrow{
    background:#DBDFE3;
    background:rgba(100,100,100,.1);
}

#crime_types {
    position: relative;
    list-style: none;
    width: auto;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}
    #crime_types_wrapper h5{
        font-size: 10px;
        text-transform:uppercase;
        color:#000;
        margin:0;
        padding:5px 0;
        text-align:center;
    }
    #crime_types_wrapper h5 span{
        text-transform:none;
        padding-left:10px;
    }
    #crime_types_wrapper h5 span a{
        color:#356A94;
        text-decoration:none;
    }
    #crime_types_wrapper h5 span a:hover{
        text-decoration:underline;
    }

    #crime_types li {
        cursor: pointer;
        list-style: none;
        display: block;
        margin: 0;
        padding: 5px;
        padding-right: 8px;
        height: 26px;
        line-height: 26px;
        clear: both;
    }

    #crime_types li .title {
        font-size: 11px;
    }

    #crime_types .group {
        position: relative !important;
        top: 0;
        left: 0;
        margin: 0 4px 0 0;
        display: block;
        float: left;
    }

    #crime_types li:hover .title {
        text-decoration: underline;
    }

    #crime_types li.off .title {
        /* color: #ccc; */
    }

    #crime_types li.off .group {
        opacity: .2;
        -moz-opacity: .2;
        -khtml-opacity: .2; 
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=20)";  
        filter: alpha(opacity=20);
        /*background-image: url(../images/icons/faded.png) !important;*/
    }

/* The UGH! using 2 different tooltips for now until I merge them into super tooltip */

/* tooltip for crime type selector */
#tiptip_holder.classtype_tip #tip_content{background:#fff;color:#000;}

#tiptip_holder.classtype_tip #tiptip_arrow_inner {
    border-left-color: #fff;
    border-left-color: rgba(255, 255, 255, 0.92);
}
#tiptip_content span{
    display:block;
    font-size:16px;
    padding-bottom:2px;
}
#tiptip_content{
    line-height:16px;
}

/*
used for crime dots on map
MAP TOOLTIP 
co-opted from Portland crime map: https://github.com/Caged/portlandcrime
*/
div.maptip{background:#000;z-index:99999;margin-top:-30px;color:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
div.maptip-cnt{background:inherit;margin:8px 30px 8px 8px;width:auto;}
.maptip span.close{color:#0BBDFF;cursor:pointer;display:block;font-size:14px;font-weight:bold;position:absolute;right:5px;top:5px;}
.maptip span.close:hover{opacity:.7;}
.maptip #maptip_bdy{padding:0;line-height:1.2em;font-size:12px;margin:0;font-weight:bold;}
.maptip #maptip_bdy span{display:block;font-size:16px;padding-bottom:6px;}
.nub{border-bottom:0;height:0;width:0;position:absolute;border-top:6px solid transparent;border-right:6px solid #000;border-bottom:6px solid transparent;left:-6px;top:24px;}
