
html, body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, clean, sans-serif;
    font-size: 15px;
    line-height: 20px;

    background: #fff;
    color: #000;
}

a:link,
a:hover,
a:visited {
    color: inherit;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

/*MAP CONTROLS*/
.controls {
	position: absolute;
	z-index: 1000;
	top: 10px;
	left: 10px;
}

	.controls a {
		display: block;
		text-decoration: none;
		font-weight: bold;
		background: transparent !important;
		color: #fff;
		padding: 2px;
		line-height: 0;
		cursor:pointer;
	}
	.controls a:hover{
		opacity:.7;
	}

	.controls a img {
		border: 0 !important;
		vertical-align: middle;
	}

	.controls label {
		color: #666;
		display: none;
	}


#copyright {
    margin: 0;
    font-size: 10px;
    line-height: 14px;
    z-index: 2001;
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: #999;
}

#output {
    z-index: 2000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    color: #fff;
    background: #000;
}

#output p { padding: 5px; margin: 0; }
#output .error {
    color: #fff;
    background: #c33;
}

h1 {
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
    margin: 0;
    padding: 5px;
}

h1 a {
    text-decoration: none;
}

.report {
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}

.group,
.report img {
    color: #fff;
    position: absolute;
    left: -13px;
    top: -13px;
    width: 26px;
    height: 26px;
}

.group {
    display: block;
    text-align: center;
    font-size: 10px;
    line-height: 26px;
    background-repeat: none;
    background-position: center center;
}

.violent .group { background-image: url(../images/icons/violent.png); }
.property .group { background-image: url(../images/icons/property.png); }
.qol .group { background-image: url(../images/icons/qol.png); }
.unknown .group { background-image: url(../images/icons/other.png); }
.faded .group {
    /* background-image: url(icons/faded.png) !important; */
    opacity: .8;
    -moz-opacity: .8;
}

.report .desc {
    display: none;
    overflow: hidden;

    position: absolute;
    left: -7em;
    top: 9px;
    padding: 5px 6px 3px;

    width: 14em;
    min-height: 34px;

    font-size: 12px;
    line-height: 16px;
    background: #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.report .date {
    display: block;
    color: #ccc;
}

/* marker above all others */
.report:hover {
    z-index: 1000;
}
/* description above all other markers */
.report:hover .desc {
    z-index: 1001;
    display: block;
}
/* icon above the description */
.report:hover .group {
    z-index: 1002;
}
#crime_types_wrapper{
    position:absolute;
    top: 30%;
    right: 0;
    background: #DCE8EF;
    width: auto;
    height: auto;
    z-index: 2001;
}

#crime_types {
    position: relative;
    list-style: none;
    width: auto;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}
    #crime_types_wrapper h5{
        font-size: 10px;
        text-transform:uppercase;
        color:#000;
        margin:0;
        padding:5px 0;
        text-align:center;
    }
    #crime_types_wrapper h5 span{
        text-transform:none;
        padding-left:10px;
    }
    #crime_types_wrapper h5 span a{
        color:#356A94;
        text-decoration:none;
    }
    #crime_types_wrapper h5 span a:hover{
        text-decoration:underline;
    }

    #crime_types li {
        cursor: pointer;
        list-style: none;
        display: block;
        margin: 0;
        padding: 5px;
        padding-right: 8px;
        height: 26px;
        line-height: 26px;
        clear: both;
    }

    #crime_types li .title {
        font-size: 11px;
    }

    #crime_types .group {
        position: relative !important;
        top: 0;
        left: 0;
        margin: 0 4px 0 0;
        display: block;
        float: left;
    }

    #crime_types li:hover .title {
        text-decoration: underline;
    }

    #crime_types li.off .title {
        /* color: #ccc; */
    }

    #crime_types li.off .group {
        background-image: url(../images/icons/faded.png) !important;
    }
