#
# Hey! Everything in here is better suited to httpd.conf, since
# we get a performance boost if we can turn off AllowOverride and
# not have to stat the webroot for every request. On the other
# hand, this measn we never have to touch apache once it's up.
# Flexibility over performance.
#
# In an ideal world, you'd stick it in here on dev and your build
# system would bundle the changes into (a file incldued in) httpd.conf
# for your production deployment. Yeah. Do that.
#

# First, account for the fiercely restrictive .htaccess at the
# dotspotting root...

Order Allow,Deny
Allow from all
Deny from none

FileETag none

php_flag display_errors on

# See Cal's awesome comments in flamework/.htaccess
php_value magic_quotes_gpc 0
php_value register_globals 0
php_value magic_quotes_runtime 0
php_value track_errors 1
php_value last_modified off
php_value short_tags on
php_value error_reporting 2147483639

DirectoryIndex index.php

ErrorDocument 404 /404.php
ErrorDocument 403 /403.php
ErrorDocument 500 /500.php

RewriteEngine on
RewriteBase /

# API

RewriteRule	^rest/?$		api_rest.php?%{QUERY_STRING} [L]

RewriteRule	^slimjim/?$		slimjim.php?%{QUERY_STRING} [L]

# Login stuff
	
RewriteRule  ^signup/?$			signup.php?%{QUERY_STRING} [L]
RewriteRule  ^signin/?$			signin.php?%{QUERY_STRING} [L]
RewriteRule  ^signout/?$		signout.php?%{QUERY_STRING} [L]
RewriteRule  ^checkcookie/?$		checkcookie.php?%{QUERY_STRING} [L]

# Password retrieval stuff

RewriteRule ^password/forgot/?$				forgot.php?%{QUERY_STRING} [L]
RewriteRule ^password/reset/([a-zA-Z0-9]+)/?$		reset.php?reset=$1&%{QUERY_STRING} [L]

# Account stuff

RewriteRule  ^account/?$			account.php?%{QUERY_STRING} [L]
RewriteRule  ^account/password/?$		account_password.php?%{QUERY_STRING} [L]
RewriteRule  ^account/delete/?$			account_delete.php?%{QUERY_STRING} [L]

# Uploads

RewriteRule ^upload/?$				upload.php?%{QUERY_STRING} [L]
RewriteRule ^upload2/?$				upload2.php?%{QUERY_STRING} [L]

RewriteRule ^upload/url/?$			upload_by_url.php?%{QUERY_STRING} [L]
RewriteRule ^upload/flickr/?$			upload_by_flickr.php?%{QUERY_STRING} [L]

# User stuff

RewriteRule ^me(.*)/?$		                        me.php?url=$1&%{QUERY_STRING} [L]

RewriteRule ^u/([0-9]+)/?$				user.php?user_id=$1&%{QUERY_STRING} [L]

RewriteRule ^u/([0-9]+)/dots/([0-9]+)/?$		dot.php?user_id=$1&dot_id=$2&%{QUERY_STRING} [L]
RewriteRule ^u/([0-9]+)/sheets/([0-9]+)/?$		sheet.php?user_id=$1&sheet_id=$2&&%{QUERY_STRING} [L]
RewriteRule ^u/([0-9]+)/sheets/([0-9]+)/export(\.([a-z]+))?$	sheet_export.php?user_id=$1&sheet_id=$2&format=$4&%{QUERY_STRING} [L]

RewriteRule ^u/([0-9]+)/dots(/page([0-9]+))?/?$		user_dots.php?user_id=$1&page=$3&%{QUERY_STRING} [L]
RewriteRule ^u/([0-9]+)/sheets(/page([0-9]+))?/?$	user_sheets.php?user_id=$1&page=$3&%{QUERY_STRING} [L]

# Search

RewriteRule ^recent(/sheets)?/?$		recent_sheets.php?%{QUERY_STRING} [L]
RewriteRule ^recent/dots/?$			recent_dots.php?%{QUERY_STRING} [L]

RewriteRule ^search/?$				search.php?%{QUERY_STRING} [L]
RewriteRule ^search/export/?$			search_export.php?%{QUERY_STRING} [L]
RewriteRule ^search/facets(/([^\/]+))?/?$	search_facets.php?name=$2&%{QUERY_STRING} [L]

RewriteRule ^nearby/?$						nearby.php?%{QUERY_STRING} [L]
RewriteRule ^nearby/([a-z0-9]+)(/page([0-9]+))?/?$		search.php?gh=$1&nearby=1&page=$3&%{QUERY_STRING} [L]

# Misc.

RewriteRule ^about/?$					about.php?%{QUERY_STRING} [L]
RewriteRule ^faq/?$					faq.php?%{QUERY_STRING} [L]
RewriteRule ^magicwords/?$				magicwords.php?%{QUERY_STRING} [L]