<?php

	#
	# By default this file contains various database and crypto secrets that
	# dotspotting expects to be present. This is not ideal.
	#
	# Note that 'dotspotting.php' is explicity blacklisted from being checked
	# in to git in the '.gitignore' file.
	#

	#
	# Any settings you define here will overwrite settings in the Flamework and Dotspotting
	# include/config.php files.
	# 
	# Which means two things:
	#
	# 1) Not all of the config parameters you may want or need to tweak are listed here. Only the bare
	#    minimum needed to get you started.
	#
	# 2) dotspotting's include/config.php itself overwrites settings in the flamework include/config.php
	#
	#    Specifically, in (dotspotting) include/init.php the following files are loaded in this order:
	#
	#    a) flamework's include/config.php
	#    b) dotspotting's include/config.php
	#    c) dotspotting's config/dotspotting.php <-- aka "the file you are reading right now"
	#
	# For a complete list of config flags (including feature flags for the site) please consult:
	# https://github.com/Citytracking/dotspotting/blob/master/README.CONFIG.md
	#

	#
	# If abs_root_url is left blank here, it will be guessed in www/include/init.php.
	# This value should not have a trailing slash.
	#

	$GLOBALS['cfg']['abs_root_url'] = rtrim('', '/');

	# Look carefully - unless you're doing something special you can probably
	# leave these two assuming you've set 'abs_root_url' above.

	$GLOBALS['cfg']['safe_abs_root_url'] = $GLOBALS['cfg']['abs_root_url'];
	$GLOBALS['cfg']['auth_cookie_domain'] = parse_url($GLOBALS['cfg']['abs_root_url'], 1);

	# The simplest database configs you'll need to get started. 

	$GLOBALS['cfg']['db_main']['host'] = '';
	$GLOBALS['cfg']['db_main']['name'] = '';	# as in the name of your database
	$GLOBALS['cfg']['db_main']['user'] = '';
	$GLOBALS['cfg']['db_main']['pass'] = '';

	#	
	# If you have the various db_enable_poormans_* config flags set (they are on by default in
	# dotspotting) you don't need to worry about configs for the 'db_main_slaves', 'db_users'
	# and 'db_tickets' database clusters. The db_enable_poormans_* flags will auto-populate the
	# corresponding database configs automagically. If you disable the 'poorman' flags, you will
	# need to add the relevant database configs here, though.
	#

	#
	# No, really - change these. These are the secrets used to encrypt the various pieces of sensitive
	# data on your website. These aren't secrets that you'll ever need to type in to a form so you
	# should make them long and twisty and hard to guess (a good rule of thumb is 13-24 characters
	# of gibberish).
	#

	$GLOBALS['cfg']['crypto_cookie_secret'] = '';
	$GLOBALS['cfg']['crypto_password_secret'] = '';
	$GLOBALS['cfg']['crypto_crumb_secret'] = '';

	#
	# You SHOULD change these (note: this assumes you're running a mail server)
	#

	# $GLOBALS['cfg']['email_from_name']	= 'example name';
	# $GLOBALS['cfg']['email_from_email']	= 'admin@example.com';
	# $GLOBALS['cfg']['auto_email_args']	= '-admin@example.com';

	#
	# You MAY want to change these
	#

	# $GLOBALS['cfg']['disable_site'] = 0;			# this does pretty much what it sounds likeo

	# $GLOBALS['cfg']['show_header_message'] = 0;		# this displays the contents of inc_header_message.txt
								# at the top of every page
	
	# $GLOBALS['cfg']['auth_cookie_name'] = 'a';

	# $GLOBALS['cfg']['auth_cookie_secure'] = 0;		# see also: http://github.com/blog/737-sidejack-prevention
	# $GLOBALS['cfg']['auth_cookie_httponly'] = 0;

	# $GLOBALS['cfg']['auth_enable_poormans_god_auth'] = 0;

	# $GLOBALS['cfg']['auth_poormans_god_auth'] = array(
	# 	xxx => array(
	# 		'roles' => array( 'staff' ),
	# 	),
	# );

	#
	# Another way of dealing with all the password/secrets hoo-hah  would be to create an entirely new
	# PHP file which is located somewhere safe (and outside of source control) and then to include it
	# at the end of this file. For example:
	#
	# $GLOBALS['cfg']['example_some_password'] = 's33kret';
	#
	# Would become:
	#
	# $GLOBALS['cfg']['example_some_password'] = 'READ-FROM-SECRETS';
	# include_once("your-secrets-file.php");
	#

?>