/*
EMBED POLYMAPS EXAMPLE STYLES
*/
#map-wrapper{margin:0;padding:0;}
#map-wrapper #map { height: 100%; width: 100%; }

/* These are the styles you'll need to adjust the look and feel
   of the zoom control described above. Yes, I agree. That's an
   awful lot of stuff to type just for a zoom control... */

.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

.compass.active .active .direction {
  fill: #999;
}

.dot{fill:rgb(11,189,255);fill-opacity:1;stroke:#fff;stroke-width:3;stroke-opacity:1;cursor:pointer;}
.dotHover{fill:#00ddee;fill-opacity:1;stroke:#00112d;stroke-width:5;stroke-opacity:1;cursor:pointer;}