<?php

	#
	# These are the secrets that dotspotting will
	# expect to be present. THIS IS JUST AN EXAMPLE
	# FILE. YOUR SECRETS SHOULD BE STORED OUTSIDE
	# OF (INSERT YOUR SOURCE CONTROL SYSTEM HERE)
	#
	# Any settings you place in here will override
	# settings in include/config.php.
	#

	$GLOBALS['cfg']['db_main']['host'] = '';
	$GLOBALS['cfg']['db_main']['pass'] = '';
	$GLOBALS['cfg']['db_main']['user'] = '';

	#	
	# If you have the various db_enable_poormans_*
	# config flags set (they are on by default in
	# dotspotting) you should not need to worry
	# about these configs. See the dotspotting config.php
	# file for details.
	#

	# $GLOBALS['cfg']['db_main_slaves']['pass'] = '';
	# $GLOBALS['cfg']['db_users']['pass'] = '';
	# $GLOBALS['cfg']['db_tickets']['pass'] = '';

	$GLOBALS['cfg']['crypto_cookie_secret'] = '';
	$GLOBALS['cfg']['crypto_password_secret'] = '';
	$GLOBALS['cfg']['crypto_crumb_secret'] = '';
	
	$GLOBALS['cfg']['abs_root_url'] = '';

?>