body {
	text-align: center;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color:black;
}

#main {
	margin: 0 auto;
	width: 854px;
	text-align: left;
	background-color: #fff;
	padding: 0;
}

#map{
    width:100%;
    height:300px;
    margin-top:25px;
    margin-bottom:5px;
    border: 1px solid #ccc; 
	position:relative;
}

#map_wrapper {
	margin-bottom: 20px;
}

#map_license {
	color:#666;
	margin-top:5px;
	text-align:right;
	font-size:11px;
	position:absolute;
	bottom:5px;
	right:5px;
}

#nav {
	background-color: #fff;
	margin:20px 0;
	font-size:small;
}

#logo {
	float:left;
	font-weight:900;
	font-size:20px;
}
#logo a {
	color:#000;
	text-decoration:none;
}

#footer {
	font-size:small;
	text-align: right;
	color: darkslategray;
	margin-top:35px;
	margin-bottom:20px;
	border-top:1px dotted #eee;
	padding-top:30px;
}

#footer a {
	color: black;
	font-size:medium;
	text-decoration:none;
	font-weight:700;
}

#content {
}

#pagination {
	margin-top: 30px;
	font-size: small;
	text-align: center;
}

#header_message{
    border-bottom:1px dotted #999;
    padding:10px;	
    background-color:#ddd;
    text-align:left;
    padding-left:5%;
}

h1 {
	margin-top: 0;
}
h3 {
	margin-bottom:0;
}

.admin-section {
	background-image: url("/images/stripes_bg.gif");
	border-top: 1px solid #BECCCC;
	border-bottom: 1px solid #BECCCC;
	padding: 40px;
	position: relative;
	text-align: left;
}

pre.admin-debug {
	background: none repeat scroll 0 0 #000000;
	color: #00FF00;
	font-size: 14px;
	margin: 0;
	padding: 1em;
}

p.error {
	background-color: #f99;
}

p.message {
	background-color: #9f9;
}

label {
    font-style: italic;
}

table {
    border:0;
    font-size: smaller;
    margin-top:10px;
}

td {
    padding: 5px;
    vertical-align:text-top;
	color:#888;
	font-weight:500;
}

td a {
	color:#444;
	text-decoration:none;
}

th {
    vertical-align:text-top;
}

.dot_private {
	background-color: pink;
}

.bucket_private {
	background-color: pink;
}

.untitled {
	font-style:italic;
}

circle {
    fill: #00a308;
    stroke: #ccff99;
    stroke-width: 2;	
    opacity: 1;
}

path {
    fill: #00a308;
    stroke: #ccff99;
    stroke-width: 2;	
    opacity: .25;
}

.caveat {
	font-size:11px;
/*	font-style:italic;*/
	font-weight:600;
	text-align:center;
	color:#c22;
}

.caveat a {
	color:#c22;
}

.flickr_photo {
    margin-top: 10px;
    font-size:small;
    font-style:italic;
}

.yahoo_woeid {
    margin-top: 10px;
    font-size:small;
    font-style:italic;
}

.flickr_photo a img {
	border: none;
}

pre {
	background-color:#ccc;
	margin-left:5%;
	margin-right:5%;
	padding:25px;
	border:1px solid #999;
}