body {
	text-align: center;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color:black;
}

#main {
	margin: 0 auto;
	width: 854px;
	text-align: left;
	background-color: #fff;
	padding: 0;
}

#map{
    width:100%;
    height:300px;
    margin-top:25px;
    margin-bottom:5px;
    border: 1px solid #ccc; 
	position:relative;
}

#map_wrapper {
	margin-bottom: 20px;
}

#map_license {
	color:#666;
	margin-top:5px;
	text-align:right;
	font-size:11px;
	position:relative;
	bottom:27px;
	right:12px;
}

#nav {
	background-color: #fff;
	margin:20px 0;
	font-size:small;
}

#logo {
	float:left;
	font-weight:900;
	font-size:20px;
}
#logo a {
	color:#000;
	text-decoration:none;
}

#footer {
	font-size:small;
	text-align: right;
	color: darkslategray;
	margin-top:35px;
	margin-bottom:20px;
	border-top:1px dotted #eee;
	padding-top:30px;
}

#footer a {
	color: black;
	font-size:medium;
	text-decoration:none;
	font-weight:700;
}

#content {
}

#pagination {
	margin-top: 30px;
	font-size: small;
	text-align: center;
}

#header_message{
    border-bottom:1px dotted #999;
    padding:10px;	
    background-color:#000;
    text-align:left;
    padding-left:5%;
}

#discoball {
	padding:5px;
	background-color:#000;
	color:#fff; 
	text-align:center;
	margin-bottom:10px;
}

#discoball a {
	padding:5px;
	background-color:#000;
	color:#fff; 
	text-align:center;
	margin-bottom:10px;
}

h1 {
	margin-top: 0;
}
h3 {
	margin-bottom:0;
}

.admin-section {
	background-image: url("/images/stripes_bg.gif");
	border-top: 1px solid #BECCCC;
	border-bottom: 1px solid #BECCCC;
	padding: 40px;
	position: relative;
	text-align: left;
}

pre {
	margin-bottom:25px;
}

pre.admin-debug {
	background: none repeat scroll 0 0 #000000;
	color: #00FF00;
	font-size: 14px;
	margin: 0;
	padding: 1em;
}

p.error {
	background-color: #f99;
}

p.message {
	background-color: #9f9;
}

label {
    font-style: italic;
}

table {
    border:0;
    font-size: smaller;
    margin-top:10px;
}

td {
    padding: 5px;
    vertical-align:text-top;
	color:#888;
	font-weight:500;
}

td a {
	color:#444;
	text-decoration:none;
}

th {
    vertical-align:text-top;
}

.dot_private {
	background-color: pink;
}

.sheet_private {
	background-color: pink;
}

.untitled {
	font-style:italic;
}

circle {
    fill: #00a308;
    stroke: #ccff99;
    stroke-width: 2;	
    opacity: 1;
}

path {
    fill: #00a308;
    stroke: #ccff99;
    stroke-width: 2;	
    opacity: .25;
}

.caveat {
	font-size:11px;
/*	font-style:italic;*/
	font-weight:600;
	text-align:center;
	color:#c22;
}

.caveat a {
	color:#c22;
}

.flickr_photo {
    margin-top: 10px;
    font-size:small;
    font-style:italic;
}

.oam_map {
    margin-top: 10px;
    font-size:small;
    font-style:italic;
}

.walkingpaper_scan {
    margin-top: 10px;
    font-size:small;
    font-style:italic;
}

.walkingpaper_scan img {
    border: 1px dotted #ccc;
    padding: 2px;
    margin-bottom:10px;
    display:block;
}

.yahoo_woeid {
    margin-top: 10px;
    font-size:small;
    font-style:italic;
}

.flickr_photo a img {
	border: none;
}

pre {
	background-color:#ccc;
	margin-left:5%;
	margin-right:5%;
	padding:25px;
	border:1px solid #999;
}

.faq_csvfields li {
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 10px;
}

.faq_magicwords li {
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 10px;
}

li code {
    font-weight: 700;
}

.important {
    text-decoration: underline;
    font-weight: 600;
}

.logo {
	border: none;
}

.tx1 {
	font-size: 14px;
	line-height: 150%;
	margin-top: 0px;
	margin-bottom: 12px;
}

/* cribbed from the tablesorter examples */

table.ds_table {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}

table.ds_table thead tr th, table.ds_table tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}

table.ds_table thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.ds_table tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}

table.ds_table tbody tr.odd td {
    background-color:#F0F0F6;
}

table.ds_table thead tr .headerSortUp {
    background-image: url(asc.gif);
}

table.ds_table thead tr .headerSortDown {
    background-image: url(desc.gif);
}

table.ds_table thead tr .headerSortDown, table.ds_table thead tr .headerSortUp {
    background-color: #8dbdd8;
}

.dataTables_wrapper {
    margin-top: 25px;
}

.dataTables_filter {
    margin-bottom: 15px;
}

.dataTables_processing {
    font-style: italic;
    font-weight: 700;
    text-align: right;
}

/* cribbed from the datatables examples */

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	// background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}
